<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
        <form class="list">
            <div style="text-align:center;">
                <img src="img/qvLxtlNURe6eILGiPlzy_Screen Shot 2016-01-16 at 7.51.25 AM.png" width="40%" height="auto">
            </div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.gudangku" class="button button-balanced button-block ">Log in</a>
            <a ui-sref="signup" class="button button-positive button-clear button-block ">Daftar</a>
        </form>
    </ion-content>
</ion-view>