<ion-side-menus>
    <ion-side-menu-content>
        <ion-view title="Dashboard" class="dashboard">
            <ion-content padding="false" scroll="false" style="height: 100px; z-index: 998;">
                <div class="dashboard-top-panel">
                    <div class="menu-dashboard-top-panel" ng-click="toggleLeftSideMenu()">
                        <center><i class="ion-navicon-round"></i></center>
                    </div>
                    <div class="title-dashboard-top-panel">
                        Batik Nit Not
                    </div>
                </div>
                <div class="dashboard-top-panel-sub">
                    <div id="menu-all" class="menu-panel menu-all focussed" ng-click="tabClick('all')">
                        <center>
                            <i class="ion-ios-list"></i>
                        </center>
                    </div>
                    <div id="menu-empty" class="menu-panel" ng-click="tabClick('empty')">
                        <center>
                            <i class="ion-sad"></i>
                        </center>
                    </div>
                    <div id="menu-minim" class="menu-panel" ng-click="tabClick('minim')">
                        <center>
                            <i class="ion-alert-circled"></i>
                        </center>
                    </div>
                    <div id="menu-search" class="menu-panel" ng-click="tabClick('search')">
                        <center>
                            <i class="ion-search"></i>
                        </center>
                    </div>
                </div>
            </ion-content>
            <!-- <div ng-include src="'/templates/partial/top-menu-dashboard.html'"></div> -->
            <ion-content overflow-scroll="true" padding="false" scroll="true" style="padding-top: 97px;">
                <center ng-show="tab.all">
                    <h3 class="gudang-title all">Semua Produk</h3>
                </center>
                <center ng-show="tab.empty">
                    <h3 class="gudang-title empty">Produk kosong</h3>
                </center>
                <center ng-show="tab.minim">
                    <h3 class="gudang-title minim">Produk dibawah minimum</h3>
                </center>
                <center ng-show="tab.search">
                    <h3 class="gudang-title search">Pencarian</h3>
                </center>
                <div class="list-on-gudang" ng-repeat="item in all">
                    <div class="thumbnailY">
                        <img class="full-image" src="img/nitnotitem.jpg">
                    </div>
                    <div class="contentY">
                        <h3>{{item.name}}</h3>
                        <button ng-if="item.stock > 5" class="button pull-right button-balanced bunder">{{item.stock}}</button>
                        <button ng-if="item.stock <= 5 && item.stock > 0" class="button pull-right button-energized bunder">{{item.stock}}</button>
                        <button ng-if="item.stock == 0" class="button pull-right button-assertive bunder">{{item.stock}}</button>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <div class="left-menu-header">
            <div class="div-header-menu-profile">
                <img src="img/nitnot.jpg" class="header-menu-profile">
            </div>
            <div class="header-menu-account">
                <h3>Batik Nit Not</h3> @nitnot - info@batiknitnot.com
            </div>
        </div>
        <div class="left-menu-header-list">
            <div class="left-menu-header-list-icon"><i class="ion-ios-albums"></i></div>
            <div class="left-menu-header-list-icon-title">Atur Stok Barang</div>
        </div>
        <div class="left-menu-header-list">
            <div class="left-menu-header-list-icon"><i class="ion-bag"></i></div>
            <div class="left-menu-header-list-icon-title">Laporan Penjualan</div>
        </div>
        <div class="left-menu-header-list">
            <div class="left-menu-header-list-icon"><i class="ion-pie-graph"></i></div>
            <div class="left-menu-header-list-icon-title">Laporan Akuntansi</div>
        </div>
        <hr>
        <div class="left-menu-header-list">
            <div class="left-menu-header-list-icon"><i class="ion-person"></i></div>
            <div class="left-menu-header-list-icon-title">Setting Akun</div>
        </div>
        <div class="left-menu-header-list">
            <div class="left-menu-header-list-icon"><i class="ion-star"></i></div>
            <div class="left-menu-header-list-icon-title"><b>Upgrade ke Premium</b></div>
        </div>
        <hr>
        <div class="left-menu-header-list">
            <div class="left-menu-header-list-icon"><i class="ion-help-circled"></i></div>
            <div class="left-menu-header-list-icon-title">Pusat Bantuan</div>
        </div>
        <div class="left-menu-header-list">
            <div class="left-menu-header-list-icon"><i class="ion-log-out"></i></div>
            <div class="left-menu-header-list-icon-title">Logout</div>
        </div>
    </ion-side-menu>
</ion-side-menus>
