<ion-view title="Login" class="login-page">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
        <center>
            <img src="img/logo.png" class="logo-login-page">
            <hr class="form-login">
            <form class="form-login">
                <label>Email</label>
                <input type="text" />
                <label>Password</label>
                <input type="password" />
                <button ui-sref="dashboard">
                    Masuk
                </button>
            </form>
            <button ui-sref="signup" class="button-to-register">
                Belum punya account?
            </button>
        </center>
    </ion-content>
</ion-view>
