<ion-view title="Login" class="login-page">
    <ion-content overflow-scroll="true" padding="true" scroll="true">
        <center>
            <img src="img/logo.png" class="logo-login-page">
            <hr class="form-login">
            <form class="form-login">
                <label>Registrasi pengguna baru</label><br><br>
                <label>Email</label>
                <input type="text" />
                <label>Password</label>
                <input type="password" />
                <label>Ulangi Password</label>
                <input type="password" />
                <button class="register">
                    Register
                </button>
            </form>
            <button ui-sref="signin" class="button-to-register">
                Sudah punya account?
            </button>
        </center>
    </ion-content>
</ion-view>
